name: GitHub Actions Demo
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      -name: Check out repository code
       uses: actions/checkout@v2
      -run: echo "The ${{ github.repository }} repository has been cloned to the runner"
      -name: List files in the repository
       run: |
         ls ${{ github.workspace }}
      -run: echo " This job's status is ${{ job.status }}."
     
